@font-face {
  font-family: "WorkSans";
  src: url('../assets/fonts/WorkSans-Light.woff2') format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url('../assets/fonts/WorkSans-Regular.woff2') format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url('../assets/fonts/WorkSans-Medium.woff2') format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url('../assets/fonts/WorkSans-SemiBold.woff2') format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url('../assets/fonts/WorkSans-Bold.woff2') format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url('../assets/fonts/Ubuntu-Regular.woff2') format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url('../assets/fonts/Ubuntu-Medium.woff2') format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../assets/fonts/Roboto-Medium.woff2') format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
